@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@font-face {
    font-family: 'Nino-Mtavruli';
    src: url(./src/assets/fonts/bpg_nino_mtavruli_bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Theme-font';
    src: url(./src/assets/fonts/azacademiury.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.section-padding-top {
    padding-top: 140px;
}

.section-padding-bottom {
    padding-bottom: 140px;
}

.bg-accent {
    background-color: #FA1F00 !important;
}

.bg-outline-accent {
    background-color: transparent;
    border-color: #FA1F00;
}

.text-accent {
    color: #FA1F00 !important;
}

.bg-outline-accent:hover {
    background-color: #e91b00 !important;
    border-color: #e91b00 !important;
    color: white !important;
}

.bg-accent:hover {
    background-color: #e91b00 !important;
}

ul.custom-bullet {
    list-style: none; /* Removes default bullets */
    padding-left: 0;
}

ul.custom-bullet li {
    position: relative;
    padding-left: 20px; /* Space for the custom bullet */
}

ul.custom-bullet li::before {
    content: '•'; 
    position: absolute;
    left: 0;
    color: red;
    font-size: 20px; 
    line-height: 20px;
}


.industry-title {
    font-family: 'Nino-Mtavruli';
    font-weight: bold;
}

