.responsive-rounded {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .responsive-rounded {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0.5rem;
    }
}

.infocard-icon {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
